@import "tailwindcss";

.font-timesnewroman {
  font-family: "Times New Roman", Times, serif;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
